<table class="table table-striped table-hover animated fadeIn fast">
    <thead>
        <tr>
            <th scope="col">Pos</th>
            <th *ngFor="let race of timeRaces | keyvalue" scope="col"> {{ race.key }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let winner of ganadores | keyvalue: asIsOrder; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <ng-container *ngFor="let race of timeRaces | keyvalue">
                <td>
                    <a [routerLink]="['/driver/' + race.value[i][0] ]">{{race.value[i][1]}} </a>
                </td>
            </ng-container>
        </tr>
    </tbody>
</table>